<%= form_with(model: blogdb) do |form| %>
  <% if blogdb.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blogdb.errors.count, "error") %> prohibited this blogdb from being saved:</h2>

      <ul>
        <% blogdb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
